.app-wrapper {

  .app-header {
    margin-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    display: flex;

    .navbar {
      background-color: #f2f5f7;
      width: 80%;
      border-radius: 30px;
    }
  }

}
